main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


header {
  text-align: center;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #f9f4da;
}

header > p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8e8e8e;
}

section {
  margin-block-end: 30px;
}

section.status-section {
  width: 100%;
  max-width: 350px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f9f4da;
  border-radius: 4px;
  margin-block: 30px;
}

section.status-section.farewell-message{
  background-color: #7A5EA7;
  border: 1px dashed #323232;
  font-style: italic;
  font-weight: 400;
}

section.status-section.won {
  background-color: #10A95B;
}

section.status-section.lost {
  background-color: #BA2A2A;
}

section.status-section > p {
  margin: 5px;
}

section.status-section > h2 {
  font-size: 1.25rem;
  margin: 5px;
}

section.language-list-section {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 350px;
}

.language-chip {
  border-radius: 3px;
  padding: 4.5px;
  position: relative;
}

/* Dimmed overlay with skull on "lost" languages */
.language-chip.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.word-display-section {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.letter-block {
  height: 40px;
  width: 40px;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  border-bottom: 1px solid #f9f4da;
  text-transform: uppercase;
  font-weight: bold;
}

.game-over-reveal {
  color: #BA2A2A;
}

.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  max-width: 450px;
  margin-bottom: 36px;
}

.keyboard-btn {
  height: 35px;
  width: 35px;
  font-size: 0.9rem;
  background-color: #FCBA29;
  border: 1px solid #D7D7D7;
  border-radius: 3px;
  cursor: pointer;
}

.keyboard-btn:disabled {
  cursor: not-allowed;
}

.keyboard-btn.correct {
  background-color: #10A95B;
}

.keyboard-btn.wrong {
  background-color: #EC5D49;
}

.new-game-btn {
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
}