header {
  text-align: center;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #f9f4da;
}

header > p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8e8e8e;
}

section {
  margin-block-end: 30px;
}

section.status-section {
  background-color: #10a95b;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f4da;
  border-radius: 4px;
  margin-block: 30px;
}

section.status-section > p {
  margin: 5px;
}

section.status-section > h2 {
  font-size: 1.25rem;
  margin: 5px;
}

section.language-list-section {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 350px;
}

.language-chip {
  border-radius: 3px;
  padding: 4.5px;
}

.word-display-section {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.letter-block {
  height: 40px;
  width: 40px;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  border-bottom: 1px solid #f9f4da;
  text-transform: uppercase;
  font-weight: bold;
}

.keyboard-container {}